@import url(https://use.typekit.net/vau0rfs.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400&display=swap);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
/* Variables! */
/* Colours: */
/* Fontstacks */
/* mixins */
/* Buttons */
.btn-primary {
  height: 45px;
  width: auto;
  min-width: 164px;
  font-family: "futura-pt", sans-serif;
  background-color: #a99b6c;
  border-color: #a99b6c;
  color: #ffffff;
  border-radius: 0px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.71px; }
  .btn-primary:hover {
    background-color: #7C724F;
    border-color: #7C724F; }
  .btn-primary:hover {
    background-color: #7C724F;
    border-color: #7C724F; }
  .btn-primary:disabled {
    cursor: no-drop;
    background-color: #7C724F;
    border-color: #7C724F; }

.btn-alt {
  height: 45px;
  width: auto;
  min-width: 164px;
  font-family: "futura-pt", sans-serif;
  background-color: #6c757d;
  border-color: #6c757d;
  color: #ffffff;
  border-radius: 0px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.71px; }
  .btn-alt:disabled {
    cursor: no-drop;
    background-color: #7C724F;
    border-color: #7C724F;
    text-decoration: line-through; }

.btn-nostyle {
  height: 44px;
  color: #5f5f5f;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400; }
  .btn-nostyle:first-child {
    margin-right: 30px; }
  .btn-nostyle:hover {
    color: #a99b6c; }

.btn-reverse {
  height: 45px;
  width: auto;
  min-width: 164px;
  font-family: "futura-pt", sans-serif;
  background-color: rgba(0, 0, 0, 0);
  border-color: #a99b6c;
  color: #a99b6c;
  border-radius: 0px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.71px; }
  .btn-reverse:hover {
    background-color: #a99b6c;
    color: #ffffff; }
  .btn-reverse:disabled {
    cursor: no-drop;
    background-color: rgba(169, 155, 108, 0.5);
    color: #a99b6c; }

.btn-reverse-white {
  height: 45px;
  width: auto;
  min-width: 164px;
  font-family: "futura-pt", sans-serif;
  background-color: rgba(0, 0, 0, 0);
  border-color: #ffffff;
  color: #ffffff;
  border-width: 2px;
  border-radius: 0px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.71px; }
  .btn-reverse-white:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #ffffff; }

.btn-s {
  height: 31px; }

.btn-m {
  height: 45px; }

.btn-l {
  height: 60px;
  min-width: 266px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.57px;
  padding-left: 25px;
  padding-right: 25px; }

.btn-fb {
  width: 18px;
  height: 18px; }
  .btn-fb::before {
    content: "\f230";
    font-family: "FontAwesome"; }

.btn-tw {
  width: 18px;
  height: 18px; }
  .btn-tw::before {
    content: "\f081";
    font-family: "FontAwesome"; }

.btn-in {
  width: 18px;
  height: 18px; }
  .btn-in::before {
    content: "\f16d";
    font-family: "FontAwesome"; }

.soc-primary {
  color: #a99b6c; }
  .soc-primary:hover {
    color: #7C724F; }

.soc-white {
  color: #ffffff; }
  .soc-white:hover {
    color: rgba(255, 255, 255, 0.75); }

/* MENU */
.menuItem:first-child {
  border-left: 1px solid #C9C9C9; }

.menuItem {
  border-right: 1px solid #C9C9C9;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  align-items: center; }

.ss-menuLink {
  max-width: 180px;
  text-align: center;
  color: #494949;
  font-family: "futura-pt", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease; }
  .ss-menuLink strong {
    font-weight: 600; }
  .ss-menuLink:hover {
    color: #a99b6c; }

/* Globals */
/* card image overlay */
.card-img-overlay {
  text-align: center; }

.heroOverlay {
  padding-top: 28%; }
  .heroOverlay_title {
    color: #ffffff;
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 47px;
    letter-spacing: 4px;
    line-height: 53px;
    text-transform: uppercase; }
  .heroOverlay_text {
    color: #ffffff;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 33px;
    line-height: 53px; }

.sliderOverlay {
  padding-top: 21%; }
  .sliderOverlay_title {
    color: #ffffff;
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 47px;
    letter-spacing: 4px;
    line-height: 53px;
    text-transform: uppercase; }
  .sliderOverlay_text {
    color: #ffffff;
    font-family: "futura-pt", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 33px;
    line-height: 53px; }

.row {
  padding-top: 30px; }
  .row:last-child {
    padding-bottom: 30px; }

/* Layout overides */
.col-centered {
  padding-top: 30px;
  text-align: center; }

.horizontalAlign {
  display: flex;
  align-items: center; }

.row {
  min-height: 60px; }

.show-grid {
  border: 0.1px pink dashed; }

/* Footer */
.footer {
  height: 116px;
  background-color: #a99b6c; }

.footer_item {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 44px; }
  .footer_item:hover {
    color: #f2f2f2;
    text-decoration: none;
    opacity: 0.75; }

.soc-footer::before {
  font-size: 26px; }

.telephone::before {
  margin-right: 20px;
  content: "\f095";
  font-family: "FontAwesome"; }

.email::before {
  margin-right: 20px;
  content: "\f003";
  font-family: "FontAwesome"; }

/* Components */
/**
 * Featured Yachts
 */
.our-yachts {
  text-align: center; }
  .our-yachts h2 {
    color: #000000;
    font-family: "futura-pt", sans-serif;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 44px;
    text-transform: uppercase; }
    .our-yachts h2 strong {
      font-weight: 600; }

.feat-yachts .card-img {
  border-radius: 0px; }

.feat-yachts .card-img-overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease; }
  .feat-yachts .card-img-overlay .h5 {
    color: #ffffff;
    font-family: "futura-pt", sans-serif;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 44px;
    text-transform: uppercase;
    position: relative;
    opacity: 1;
    top: 90%;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease; }

.feat-yachts .overlayHover {
  background-color: rgba(0, 0, 0, 0);
  padding: 15px;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
  .feat-yachts .overlayHoverCard {
    min-height: 100%;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 0px;
    padding: 30px;
    padding-top: 15%;
    text-align: center; }
    .feat-yachts .overlayHoverCard .overlayHoverCardTitle {
      color: #ffffff;
      font-family: "futura-pt", sans-serif;
      font-size: 32px;
      font-weight: 300;
      letter-spacing: 4px;
      line-height: 44px;
      text-transform: uppercase;
      position: relative;
      opacity: 1;
      top: 40%;
      -webkit-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease; }
    .feat-yachts .overlayHoverCard button {
      max-width: 120px;
      text-align: center; }
  .feat-yachts .overlayHover:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.45); }

.feat-yachts:hover .card-img-overlay .h5 {
  opacity: 0; }

.featured-yacht {
  border-radius: 0px;
  max-width: 100%;
  height: auto; }

.even-yacht {
  max-width: 100%;
  height: auto;
  border-radius: 0px; }

.odd-yacht {
  max-width: 100%;
  height: auto;
  border-radius: 0px; }

.yachtSpacer {
  margin-top: auto;
  margin-bottom: auto;
  height: 5px;
  background-color: #f1f1f1;
  border-top: 0px; }

/**
 * Yacht Charter
 */
.yacht-charter {
  background-image: url(static/media/charterBG.e44504d9.png);
  background-position: center;
  max-height: 433px; }
  .yacht-charter h2 {
    color: #000000;
    font-family: "futura-pt", sans-serif;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 44px;
    text-transform: uppercase; }
    .yacht-charter h2 strong {
      font-weight: 600; }
  .yacht-charter p {
    color: #000000;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px; }
  .yacht-charter .quoteCard {
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.09);
    padding: 15px;
    border-radius: 0px; }
    .yacht-charter .quoteCard .quoteCard_inner {
      border: 1px black solid;
      padding: 30px;
      padding-left: 90px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 24px;
      font-weight: 300; }
      .yacht-charter .quoteCard .quoteCard_inner::before {
        content: "\f10d";
        font-family: "FontAwesome";
        position: absolute;
        left: 46px;
        font-size: 30px;
        color: #a99b6c; }

.row-paddingTopTen {
  padding-top: 10px; }

.yacht-charter-hr {
  width: 253px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid white;
  padding-top: 0px; }
  .yacht-charter-hr-inner {
    margin-top: 0px;
    margin-bottom: 0px;
    border-width: 5px;
    background-color: #a99b6c; }

/**
  * The Experiences
  */
.the-experiences {
  text-align: center; }
  .the-experiences h2 {
    color: #000000;
    font-family: "futura-pt", sans-serif;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 44px;
    text-transform: uppercase; }
    .the-experiences h2 strong {
      font-weight: 600; }

.the-experiences-single {
  cursor: pointer; }
  .the-experiences-single .card-img {
    border-radius: 0px; }
  .the-experiences-single .card-img-overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease; }
    .the-experiences-single .card-img-overlay .h5 {
      color: #ffffff;
      font-family: "futura-pt", sans-serif;
      font-size: 32px;
      font-weight: 300;
      letter-spacing: 4px;
      line-height: 44px;
      text-transform: uppercase;
      position: relative;
      opacity: 1;
      top: 90%;
      -webkit-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease; }
  .the-experiences-single .overlayHover {
    background-color: rgba(0, 0, 0, 0);
    padding: 15px;
    opacity: 0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
    .the-experiences-single .overlayHoverCard {
      min-height: 100%;
      background: rgba(0, 0, 0, 0);
      border: 1px solid #ffffff;
      border-radius: 0px;
      padding: 30px;
      padding-top: 15%;
      text-align: center; }
      .the-experiences-single .overlayHoverCard .overlayHoverCardTitle {
        color: #ffffff;
        font-family: "futura-pt", sans-serif;
        font-size: 32px;
        font-weight: 300;
        letter-spacing: 4px;
        line-height: 44px;
        text-transform: uppercase;
        position: relative;
        opacity: 1;
        top: 40%;
        -webkit-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease; }
      .the-experiences-single .overlayHoverCard button {
        max-width: 120px;
        text-align: center; }
    .the-experiences-single .overlayHover:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.45); }

.even-experiences {
  max-width: 100%;
  height: auto;
  border-radius: 0px; }

.odd-experiences {
  max-width: 100%;
  height: auto;
  border-radius: 0px; }


/*# sourceMappingURL=main.css.map*/